.App {
  text-align: center;
}
a:visited {
  color: brown;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  display: flex;
  background-color: gray;
  font-weight: bolder;
}
li {
  float: left;
  padding: 5px;
}
